@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';
.button {
	width: 100%;
	padding: 15px 14px;
	@include font-13p-500;
	cursor: pointer;
}
.primary {
	background-color: $whitecolor;
	color: $blackcolor;
}
.secondary {
	border: 1px solid $whitecolor;
	color: $whitecolor;
}
.tertiary {
	background-color: $tertiarycolor;
	color: $whitecolor;
	padding: 6px 7px;
	@include font-13p-600;
	border-radius: 5px;
}

/**Input**/
.form-input {
	height: 100%;
	.inputfield {
		height: 100%;
		width: 100%;
		background: none;
		border: none;
		outline: none;
		color: $whitecolor;
		@include font-13p-600;
	}
	textarea {
		resize: none;
	}
}
