@import '../scss//variables.scss';
@import '../scss//mixins.scss';
* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
html,
body,
#root,
#__next,
#__next > div {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
body {
	font-family: 'Inter', sans-serif !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	background: $modalbg;
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}
.w-100p {
	width: 100%;
}
.h-100p {
	height: 100%;
}
.w-50p {
	width: 50%;
}
.align-center {
	align-items: center;
}
.wrapper {
	height: 100%;
	width: 100%;
	background: $sitethemecolor;
	.container {
		height: 100%;
		width: 100%;
		position: relative;
		.page-wrapper {
			width: 100%;
			height: 100%;
			float: left;
			position: relative;
			.bg-info-wrapper {
				height: calc(100% - 125px);
				width: 100%;
				float: left;
				position: relative;
				.gradient-thumbs {
					width: 100% !important;
					float: left;
					position: absolute !important;
					bottom: -1px;
					height: 300px !important;
					-o-object-fit: contain;
					object-fit: contain;
					z-index: 2;
					background-image: linear-gradient(
						180deg,
						rgba(20, 20, 20, 0),
						#141414
					);
				}
			}
		}
		.page-wrapper > div {
			height: calc(100% - 125px);
			width: 100%;
			float: left;
			position: relative;
		}
	}
}
.d-flex {
	display: flex;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
textarea:focus,
input:focus {
	outline: none;
}
.album-container {
	min-height: 100vh !important;
	height: auto !important;
}

/** Page Loader**/
.page-loading-container {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0;
	left: 0;
	background: $modalbg;
	z-index: 9999;
	a {
		display: block;
		width: 17px;
		height: 16px;
		margin: 0 auto;
		animation: rotating 2s linear infinite;
		svg {
			width: 100%;
			height: 100%;
		}
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

p.error-message {
	width: 100%;
	float: left;
	color: $errorcolor;
	@include font-13p-500;
	margin: 0 0 5px 0px;
}
svg {
	cursor: pointer;
}

/**Error Pages**/
.error-page-center {
	width: 100% !important;
	height: 100vh !important;
	.content {
		width: 300px;
		display: block;
		margin: 0 auto;
		height: fit-content;
		.text-t {
			color: $whitecolor;
			margin: 35px 0px 5px 0px;
			@include font-16p-600;
		}
		.text-b {
			color: $whitecolor;
			opacity: 0.6;
			@include font-12p-500;
		}
	}
}
