@import '../scss//variables.scss';
@import '../scss//mixins.scss';
.header {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0px;
	z-index: 999;
	background: rgba(20, 20, 20, 0.9);
	transition: top 0.02s ease-in-out;
	.header-item {
		height: 16px;
		width: 16px;
	}
	.header-left,
	.header-center,
	.header-right {
		float: left;
		height: 100%;
	}
	.header-left {
		padding-left: 15px;
		.icon-with-text {
			width: fit-content;
			float: left;
			.icon {
				width: 10px;
				float: left;
				margin-right: 15px;
			}
			.text {
				width: fit-content;
				float: left;
				@include font-14p-600;
				color: $whitecolor;
			}
		}
	}
	.header-right {
		position: relative;
		padding-right: 15px;
		.tertiary-button {
			position: absolute;
			right: 46px;
		}
		.fav-icon {
			position: absolute;
			right: 15px;
		}
	}
	.header-center {
		.center-text-holder {
			@include font-12p-500;
			color: $whitecolor;
			width: fit-content;
			margin: 0 auto;
			display: block;
		}
		.date-time {
			@include font-9p-600;
			color: $whitecolor;
			opacity: 0.6;
		}
	}
}
.header--hidden {
	top: -50px;
}

/**SubHeader**/
.sub-header {
	width: 100%;
	height: 32px;
	position: fixed;
	top: 50px;
	left: 0;
	z-index: 999;
	background: $thumbnailswrapperbg;
	box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.12);
	transition: top 0.02s ease-in-out;
	.sub-header-wrapper {
		width: 100%;
		float: left;
		height: 100%;
		padding-top: 7px;
		padding-left: 15px;
		overflow-x: scroll;
		white-space: nowrap;
		padding-left: 20px;
		margin-bottom: 0;
		overflow-y: hidden;
		display: flex;
		align-items: center;
		.sub-header-item {
			width: fit-content;
			cursor: pointer;
			height: 24px;

			margin-right: 25px;
			span {
				@include font-13p-600;
				color: rgba(255, 255, 255, 0.6);

				text-transform: capitalize;
			}
		}
		.active {
			span {
				color: $whitecolor;
			}
			border-bottom: 2px solid $themecolor;
		}
	}
	.sub-header-wrapper::-webkit-scrollbar {
		display: none;
	}
}
.sub-header--hidden {
	top: -82px;
}
