@import '../scss//variables.scss';
@import '../scss//mixins.scss';
/*Background Wrapper common for login screen , Project Home and Album Home */
.bg-wrapper {
	.bg-image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		a {
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
	.gradient-overlay {
		position: absolute !important;
		top: 0;
		left: 0;
		z-index: 2;
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7)
		);
	}
}
/*Info Wrapper consisting Title,Action Buttons common for login,project and album home screens */
.info-wrapper {
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 3;
	.info-dynamic-wrapper {
		position: absolute !important;
		left: calc(50% - 120px);
		bottom: 0px;
		width: 240px !important;
		h1.title {
			@include font-24p-500;
			color: $whitecolor;
			margin: 0;
			font-family: 'Cormorant', serif !important;
		}
		h2.title {
			@include font-16p-600;
			color: $whitecolor;
			margin: 10px 0 0;
			font-family: 'Cormorant', serif !important;
		}
		/** Button Wrapper consisting both primary and secondary buttons */
		.buttons-wrapper {
			position: absolute;
			bottom: 90px;
			left: 30px;
			width: calc(100% - 60px);
			.secondary {
				margin-top: 30px;
			}
		}
		/** Otp Wrapper **/
		.otp-wrapper {
			width: 100%;
			float: left;

			margin-top: 72px;
			.otp-help-text {
				@include font-13p-500;
				color: $whitecolor;
				opacity: 0.6;
				margin-bottom: 7px;
			}
			.otp-container {
				width: fit-content;
				margin: 0 auto;
				div {
					margin-right: 5px;
					width: calc((240px - 25px) / 6);
					height: calc((240px - 25px) / 6);
					input {
						background-color: rgba(255, 255, 255, 0.25);
						backdrop-filter: blur(5px);
						width: 100% !important;
						height: 100%;
						border: none;
						height: 100%;
						padding: 0 !important;
						color: $whitecolor;
						font-size: 18px;
					}
				}
				div:last-child {
					margin-right: 0px !important;
				}
			}

			.otp-login-guest {
				width: 100%;
				float: left;
				text-align: center;
				color: $whitecolor;
				@include font-10p-500;
				opacity: 0.6;
				margin-top: 48px;

				span {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}
	/** Project home info styles **/
	.project-home-info-wrapper {
		.item-info {
			@include font-12p-500;
			color: $whitecolor;
			opacity: 0.6;
			text-align: center;
			margin-top: 8px;
			position: relative;
		}
		.icons-container-wrapper {
			margin-top: 20px;
			.icons-container {
				margin: 0 auto;
				width: fit-content !important;
				display: block;
				height: 48px;
				.icon {
					width: 48px;
					height: 48px;
					float: left;
					margin-right: 16px;
					cursor: pointer;
				}
				.icon:last-child {
					margin-right: 0px;
				}
			}
		}
		.view-photos-button {
			width: 100%;
			float: left;
			margin-top: 45px;
		}
	}
}

/**Album Thumbnails Wrapper **/
.albums-thumbnails-wrapper {
	width: 100%;
	height: 125px !important;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 4;
	.gradient-at-top {
		position: absolute;
		top: 0;
		left: 0;
		height: 50px;
		width: 100%;
		background: linear-gradient(
			180deg,
			rgba(20, 20, 20, 0.0001) 0%,
			#141414 100%
		);
	}
	.albums-thumbnails-container {
		height: 125px !important;
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 0px;
		//background: $thumbnailswrapperbg;
		overflow-x: scroll;
		white-space: nowrap;
		padding-left: 20px;
		margin-bottom: 0;
		overflow-y: hidden;

		.albums-thumbnails-subwrapper {
			.album-thumbnail {
				width: 60px !important;
				height: 60px !important;
				cursor: pointer;
				position: relative;
				display: inline-block;
				margin: 30.5px 8px 30.5px 7px;
				padding: 0;
				a.thumb {
					width: 100%;
					height: 100%;
					float: left;
					border-radius: 50%;
					transition: all 0.5s ease-in-out;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 50%;
					}
				}
				.loader-thumb {
					background: $modalbg;
				}
				span {
					@include font-9p-600;
					color: $whitecolor;
					margin-top: 5px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				a.active {
					width: 60px !important;
					height: 60px !important;
					img {
						width: 100%;
						height: 100%;
						border-radius: 50%;
						border: 3px solid $themecolor;
						transition: border 0.5s ease-in-out;
					}
				}
			}
		}
	}
	.albums-thumbnails-container::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.albums-thumbnails-container {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

/**Empty State Collections**/
.empty-state-wrapper {
	height: calc(100vh - 82px);

	width: 100%;
	position: absolute;
	.empty-state-sub-wrapper {
		height: fit-content;
		width: 100%;
		.icon-wrapper {
			.icon-sub-wrapper {
				width: 150px;
				height: 150px;
				display: block;
				margin: 0 auto;
				background: rgba(255, 255, 255, 0.1);
				border-radius: 50%;
				.icon-container {
					width: 100%;
					height: 100%;
					svg {
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
		.title {
			@include font-16p-600;
			color: $whitecolor;
			text-align: center;
			margin-top: 28px;
		}
		.desc {
			@include font-11p-600;
			text-align: center;
			color: $whitecolor;
			opacity: 0.6;
			margin-top: 4px;
		}
	}
}

/** Bottom Modal Styles **/
.bottom-modal {
	height: auto;
	width: 100%;
	background: $modalbg;
	position: absolute;
	bottom: 0;
	border-radius: 15px;
	z-index: 999;
	.suggested-edits {
		height: 400px;
	}
	.share-feedback {
		height: 100%;
		.m-body {
			height: fit-content;
		}
		.m-footer {
			position: relative;
			height: 75px;
		}
	}
	.m-header {
		height: 50px;

		box-shadow: inset 0px -0.5px 0px rgba(255, 255, 255, 0.12);
		.header-item {
			height: 16px;
			width: 16px;
		}
		.header-left,
		.header-center,
		.header-right {
			float: left;
			height: 100%;
		}
		.header-left {
			padding-left: 15px;
			width: 20%;
			.icon-with-text {
				width: fit-content;
				float: left;
				.icon {
					width: 10px;
					float: left;
					margin-right: 15px;
				}
				.text {
					width: fit-content;
					float: left;
					@include font-14p-600;
					color: $whitecolor;
				}
			}
		}
		.header-right {
			position: relative;
			padding-right: 15px;
			width: 20%;
			.tertiary-button {
				position: absolute;
				right: 46px;
			}
			.fav-icon {
				position: absolute;
				right: 15px;
			}
		}
		.header-center {
			width: 60%;
			.center-text-holder {
				@include font-12p-500;
				color: $whitecolor;
				width: fit-content;
				margin: 0 auto;
				display: block;
			}
			.date-time {
				@include font-9p-600;
				color: $whitecolor;
				opacity: 0.6;
				margin-top: 2px;
			}
		}
	}
	.m-body {
		padding-top: 15px;
		height: 250px;
		overflow-y: auto;
		.image-wrapper {
			height: 340px;
			padding: 10px 0px;
			.slick-slider {
				height: 100%;
				.slick-list {
					height: 100%;
					.slick-track {
						height: 100%;
						.slick-slide {
							height: 100%;
							margin: 0 5px;
							div {
								height: 100%;

								.img-container {
									height: 100%;
									position: relative;
									img {
										height: 100%;
										display: block;
										margin: 0 auto;
										width: 100%;
										object-fit: cover;
										border-radius: 5px;
										z-index: 5;
									}
								}
								.gradient-overlay {
									position: absolute;
									top: 0;
									width: 100%;
									height: 150px;
									background: linear-gradient(
										180deg,
										#000000 0%,
										rgba(0, 0, 0, 0) 100%
									);
									border-radius: 5px;
									z-index: 8;
								}
								.info-overlay {
									position: absolute;
									top: 10px;
									width: 100%;
									z-index: 9;
									height: 16px;
									display: flex;
									align-items: center;
									a {
										@include font-13p-600;
										color: $whitecolor;
										svg {
											float: left;
											margin-left: 13px;
											margin-right: 5px;
										}
									}
									span {
										background: $tertiarycolor;
										@include font-8p-600;
										color: $whitecolor;
										width: fit-content;
										padding: 2px 6px;
										border-radius: 3px;
										margin-left: 10px;
									}
								}
							}
						}
					}
				}
			}
		}
		.version-info-wrapper {
			box-shadow: inset 0px -0.5px 0px rgba(255, 255, 255, 0.12);
			.version-info-item {
				padding: 12px 10px;
				.title {
					text-align: left;
					@include font-13p-500;
					color: $whitecolor;
					opacity: 0.6;
				}
				.desc {
					@include font-13p-600;
					text-align: right;
					color: $whitecolor;
				}
			}
		}
		.suggest-edit-item {
			padding: 10px 25px 15px 25px;
			position: relative;
			.item-top {
				height: 30px;
				.left-d {
					.count {
						width: 30px;
						height: 30px;
						background: $blackcolor;
						border-radius: 50%;
						span {
							@include font-12p-500;
							color: $whitecolor;
							display: block;
							width: fit-content;
							margin: 0 auto;
						}
					}
					.last-updated {
						@include font-12p-500;
						color: $whitecolor;
						opacity: 0.6;
						margin-left: 5px;
					}
				}
				.right-d {
					position: relative;
					a.delete-icon {
						position: absolute;
						right: 0px;
					}
				}
			}
			.item-bottom {
				@include font-13p-500;
				color: $whitecolor;
				margin-top: 8px;
			}
			box-shadow: inset 0px -0.5px 0px rgba(255, 255, 255, 0.12);
		}
		.suggest-edit-item:last-child {
			box-shadow: none;
		}
		.share-b-rating {
			padding: 0px 25px 15px 25px;
			box-shadow: inset 0px -0.5px 0px rgba(255, 255, 255, 0.12);

			.text {
				@include font-13p-500;
				color: $whitecolor;
			}
			.star-wrapper {
				margin-top: 10px;
				a {
					float: left;
				}
			}
		}
		.share-b-input {
			padding: 15px 10px 15px 10px;
			box-shadow: inset 0px -0.5px 0px rgba(255, 255, 255, 0.12);

			.input-wrapper {
				border-radius: 5px;
				border: 1px solid $whitecolor;
				padding: 10px;
			}
		}
	}
	.m-footer {
		height: 100px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		padding: 15px 10px;
		.footer-wrapper {
			width: 100%;
			float: left;
			height: 100%;
			border-radius: 5px;
			border: 1px solid $whitecolor;
			padding: 10px;
			display: flex;
			align-items: center;
			.input-wrapper {
				width: calc(100% - 50px);
				float: left;
				height: 100%;
			}
			.button-wrapper {
				width: 50px;
				float: left;
				height: 100%;
				display: flex;
				align-items: center;
				svg {
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
}
/**center modal styles**/
.center-modal {
	height: 400px;
	width: 100%;
	background: #1d1d1d;
	position: absolute;
	bottom: 0;
	border-radius: 15px;
	z-index: 999;
}

/**Left Sliding Layout **/
.left-modal-layout {
	width: 100%;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;

	height: 100vh;
	z-index: 999;
	background: $modalbg;
	.lm-header {
		height: 50px;
		box-shadow: inset 0px -0.5px 0px rgba(255, 255, 255, 0.12);
		.lm-header-wrapper {
			padding: 15px 20px;
			.left-d {
				height: 100%;
				.icon-with-text {
					.icon {
					}
					.text {
						color: $whitecolor;
						@include font-14p-600;
						margin-left: 14px;
					}
				}
			}
			.right-d {
				position: relative;
				height: 18px;
				.close-icon {
					position: absolute;
					right: 0px;
					width: 16px;
					height: 16px;
				}
			}
		}
	}

	.atc-item-left {
		.form-check-input {
			margin: 0;
			width: 16px;
			height: 16px;
		}
	}

	.lm-body {
		height: calc(100% - 50px);

		/** Add to collections **/
		.add-to-collection-wrapper {
			padding: 20px 15px;
			height: fit-content;

			.atc-item {
				margin-bottom: 12px;
				.atc-item-left {
					.form-check-input {
						margin: 0;
						width: 16px;
						height: 16px;
					}
				}
				.atc-item-right {
					margin-left: 12px;
					.r-top {
						@include font-13p-500;
						color: $whitecolor;
					}
					.r-bottom {
						@include font-12p-500;
						opacity: 0.6;
						color: $whitecolor;
					}
				}
			}
			.atc-item-create {
				margin-top: 22px;
				.atc-item-right {
					.atc-text {
						@include font-13p-600;
						color: $whitecolor;
					}
				}
			}
		}
		.submit-button-wrapper {
			position: relative;
			height: 28px;

			.submit-button-container {
				position: absolute;
				right: 15px;
				width: 60px;
				.s-button {
					width: 28px;
					height: 28px;
					background: $tertiarycolor;
					border-radius: 3px;
					svg {
						display: block;
						margin: 0 auto;
					}
				}
				.submit-b {
					margin-left: 4px;
				}
			}
		}

		.atc-input {
			margin-left: 12px;
			width: calc(100% - 110px);
			float: left;
			input {
				padding: 0px;
				background: none;
				box-shadow: none;
				border: none;
				color: $whitecolor;
				@include font-13p-500;
				width: 100%;
				height: 100%;
				float: left;
			}
		}
		/**Clecctions**/
		.collections-wrapper {
			padding: 20px 15px;
			height: 100%;
			position: relative;
			overflow-y: scroll;
			.collection-item {
				height: 50px;
				margin-top: 12px;
				position: relative;
				.cover-image {
					width: 50px;
					height: 50px;
					border-radius: 2px;
					background: $tertiarycolor;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					svg {
						margin: 0 auto;
						float: left;
					}
				}
				.text-wrapper {
					margin-left: 12px;
					width: calc(100% - 110px);
					.t-top {
						@include font-13p-500;
						color: $whitecolor;
					}
					.t-bottom {
						@include font-12p-500;
						opacity: 0.6;
						color: $whitecolor;
						margin-top: 3px;
					}
				}
				.more-options {
					position: absolute;
					right: 15px;
					cursor: pointer;
				}
				.collection-dropdown {
					width: 115px;
					height: fit-content;
					position: absolute;
					right: 35px;
					background: $tertiarycolor;
					padding: 5px 0px;
					border-radius: 5px;
					top: calc(50% - 10px);
					z-index: 9;
					a {
						cursor: pointer;
						padding: 8px 18px;
						color: $whitecolor;
						@include font-13p-500;
						svg {
							margin-right: 5px;
						}
						svg.delete {
							margin-left: -8px;
						}
						&:hover {
							background: $thumbnailswrapperbg;
						}
					}
				}
			}
		}
	}
}

.left-modal-layout-display {
	right: 0px;
}

.left-modal-layout-hide {
	right: -1000px;
}
/**Full View Image **/
.image-container {
	position: relative;

	height: 100%;
	background: $modalbg;
	float: left;
	z-index: 1;
	.slick-slider {
		width: 100%;
		height: 100%;
		.slick-list {
			width: 100%;
			height: 100%;
			.slick-track {
				width: 100%;
				height: 100%;
				.slick-slide {
					width: 100%;
					height: 100%;

					div.react-transform-component,
					div.react-transform-element {
						height: fit-content;
						width: fit-content;
					}
				}
				.slick-slide > div {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					.image-wrapper {
						width: 100%;
						height: 100%;
						display: flex !important;
						align-items: center;

						img {
							width: 100%;
							max-height: 100%;
						}
					}
				}
			}
		}
	}
}
.thumb-active {
	opacity: 1 !important;
}
.header-versions-wrapper {
	height: 110px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
	transition: transform 0.4s ease-in-out;
	.header {
		position: relative;
		float: left;
	}
	.versions-wrapper {
		position: absolute;
		height: 60px;
		float: left;
		top: 50px;
		z-index: 99;
		.icon-with-text {
			height: 16px;
			padding: 0 15px;
			a {
				height: 16px;
				width: 16px;
			}
			span {
				@include font-13p-600;
				color: $whitecolor;
				opacity: 0.6;
			}
		}
	}
}
.thumbnails-actionbar-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 110px;
	z-index: 2;
	transition: transform 0.4s ease-in-out;
	.thumbnails-wrapper {
		position: relative;
		height: 60px;
		background: $modalbg;
		float: left;
		.slick-slider {
			.slick-list {
				.slick-track {
					.slick-slide {
						height: 100%;
					}
					.slick-slide > div {
						height: 100%;
						.image-wrapper {
							height: 60px;
							cursor: pointer;
							margin: 0px 2px;
							opacity: 0.4;
							transition: all 0.3s ease 0s;
							will-change: opacity;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}
				}
			}
		}
	}
	.action-bar {
		height: 50px;
		position: relative;
		float: left;
		background: $modalbg;
		a.icon {
			width: calc(100% / 3);
			float: left;
			height: 100%;
			display: flex;
			position: relative;
			align-items: center;
			svg {
				display: block;
				margin: 0 auto;
			}
			.loader-download {
				display: block;
				margin: 0 auto;
				position: relative;
			}
		}
		a.icon-guest {
			width: calc(100%);
			float: left;
			height: 100%;
			display: flex;
			position: relative;
			align-items: center;
			svg {
				display: block;
				margin: 0 auto;
			}
			.loader-download {
				display: block;
				margin: 0 auto;
				position: relative;
			}
		}
	}
}
.slidetopDown {
	transform: translate3d(0, -210px, 0);
}
.slidetopUp {
	transform: translate3d(0, 0px, 0);
}
.slidebottomDown {
	transform: translate3d(0, 0px, 0);
}
.slidebottomUp {
	transform: translate3d(0, 200px, 0);
}
/** Pages Slick Slider **/
.pages-slick-slider-wrapper {
	height: 100%;
	width: 100%;
	float: left;
	position: relative;
	.slick-slider {
		width: 100%;
		height: 100%;
		.slick-list {
			width: 100%;
			height: 100%;
			.slick-track {
				width: 100%;
				height: 100%;
				.slick-slide {
					width: 100%;
					height: 100%;
				}
				.slick-slide > div {
					width: 100%;
					height: 100%;
					position: relative;
					.bg-info-wrapper {
						height: 100%;
					}
				}
			}
		}
	}
}

/**gallery container **/

.image-features-w-100 {
	width: 77px;
}

.image-features-w-50 {
	width: 48px;
}
.gallery-wrapper {
	position: absolute;
	top: 82px;
	left: 0px;
	width: 100%;
	background: $modalbg;
	height: fit-content;
	.masonry-gallery {
		width: 100%;
		height: fit-content;
		.grid {
			width: 100%;
			.grid-item {
				margin-bottom: 3px;
				.gridImageContainer {
					position: relative;
					width: 100%;
					height: 100%;

					.image-wrapper {
						width: 100%;
						height: 100%;
						cursor: pointer;
						position: relative;

						.image-features {
							position: absolute;
							right: 0;

							height: 35px;
							top: 0px;
							background: rgba(0, 0, 0, 0.6);
							border-radius: 0px 0px 0px 7px;
							z-index: 9;
							.fav,
							.visibility {
								height: 100%;
							}
							.fav {
								@include font-13p-600;
								color: $whitecolor;

								svg {
									margin-left: 13px;
									margin-right: 3.5px;
								}
							}
						}
						img {
							width: 100%;
							text-align: center;
							cursor: pointer;
							height: 100%;

							position: absolute;
							top: 0;
							left: 0;
							z-index: 1;
						}
					}
				}
			}
			.lazyload-wrapper {
				height: 100%;
			}
		}
	}
}

/**Share**/
.share-wrapper {
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	height: calc(100% - 50px);
	margin-top: 50px;
	.pin-text {
		width: 50% !important;
	}
	.pin-button {
		width: 50% !important;
		@include font-13p-600;
		color: $whitecolor;
		a {
			width: fit-content;
			float: right;
		}
	}
	.action-text {
		width: 80%;
	}
	.action-button {
		width: 20%;
		/*--Toggle Switch--*/
		.form-switch {
			position: relative;
			display: inline-block;
			width: 33px;
			height: 20px;

			input {
				opacity: 0;
				width: 0;
				height: 0;
			}
			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}

			.slider:before {
				position: absolute;
				content: '';
				height: 15px;
				width: 15px;
				left: 3px;
				bottom: 3px;
				background-color: white;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}

			input:checked + .slider {
				background-color: $themecolor;
			}

			input:focus + .slider {
				box-shadow: 0 0 1px $themecolor;
			}

			input:checked + .slider:before {
				-webkit-transform: translateX(12px);
				-ms-transform: translateX(12px);
				transform: translateX(12px);
			}
			/* Rounded sliders */
			.slider.round {
				border-radius: 20px;
			}

			.slider.round:before {
				border-radius: 50%;
			}
		}
	}
	.help-text-wrapper {
		@include font-12p-500;
		color: $whitecolor;
		padding: 15px 20px;
	}
	.main-share-enable {
		background: $modalbg;
		padding: 15px 20px;
		.action-text {
			color: $whitecolor;
			.top {
				@include font-13p-600;
			}
			.bottom {
				@include font-11p-600;
				opacity: 0.6;
				margin-top: 4px;
			}
		}
	}
	.share-item {
		padding: 15px 20px;

		.action-text {
			.action-icon {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background: rgba(255, 255, 255, 0.1);
				margin-right: 12px;
				svg {
					display: block;
					margin: 0 auto;
				}
			}
			.action-sub-text {
				width: calc(100% - 42px);
				float: left;
				span.sub-text-title {
					opacity: 0.6;
				}
				span.link {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				span.link-text {
					color: rgba(255, 255, 255, 0.9);
					a {
						color: $themecolor;
					}
				}
				.mt-4 {
					margin-top: 4px;
				}
			}
			color: $whitecolor;
			@include font-13p-600;
		}
	}
	.help-text-sub {
		padding: 15px 20px;
		color: $whitecolor;
		@include font-12p-500;
	}
	.album-item {
		padding: 8px 20px;
		.item-left {
			.cover-pic {
				width: 50px;
				height: 50px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 2px;
				}
			}
			.text {
				margin-left: 10px;
				.text-top {
					@include font-12p-500;
					color: $whitecolor;
				}
				.text-bottom {
					@include font-11p-600;
					color: $whitecolor;
					opacity: 0.6;
					margin-top: 2px;
				}
			}
		}
		.item-right {
			a {
				svg {
					margin-right: 8px;
				}
				@include font-13p-600;
				color: $whitecolor;
				padding: 6px 10px;
				background: $tertiarycolor;
				border-radius: 3px;
			}
		}
	}
}
/**Delete Modal**/
.centerModal {
	.modal-body {
		.m-body {
			height: 100%;
			width: 100%;
			background: $modalbg;
			border-radius: 15px;

			.delete-modal {
				height: 100%;
				.c-header {
					position: relative;
					height: 50px;
					box-shadow: inset 0px -0.5px 0px rgb(255 255 255 / 12%);
					svg {
						position: absolute;
						right: 10px;
					}
				}
				.c-body {
					height: calc(100% - 50px);
					.c-wrap {
						height: fit-content;
						.c-text {
							padding: 0px 30px;
							@include font-13p-600;
							color: $whitecolor;
						}
						.c-button {
							margin-top: 20px;
							.c-buttonwrapper {
								width: fit-content;
								margin: 0 auto;
								display: block;
								.c-buttonwrap {
									width: 100px;
									display: block;
									margin: 0 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}

/**Media Queries**/
@media screen and (min-width: 768px) {
	.loader-download {
		width: 20px;
		height: 20px;
		position: absolute !important;
		right: 0;
		margin: 0;
	}
	.info-wrapper {
		.info-dynamic-wrapper {
			width: 300px !important;
			left: calc(50% - 150px);
			height: calc(50% + 120px) !important;
			.buttons-wrapper {
				width: 100%;
				left: 0;
				top: 90px;
				bottom: auto;
			}
		}
		.info-desk {
			height: fit-content !important;
		}
	}
	.image-container {
		.slick-slider {
			height: calc(100% - 160px);
			margin-top: 50px;
			.slick-prev {
				left: 20px;
				z-index: 4;
				height: 32px;
				width: 32px;
			}
			.slick-next {
				right: 20px;
				z-index: 4;
				height: 32px;
				width: 32px;
			}
		}
		.image-wrapper {
			background: $modalbg;
			img {
				height: 100% !important;
				margin: 0 auto;
				display: block;
				width: auto !important;
				max-width: 100% !important;
				object-fit: cover;
			}
		}
	}
	.albums-thumbnails-container {
		width: 640px !important;
		left: calc(50% - 320px) !important;
		padding-left: 0 !important;
		.albums-thumbnails-subwrapper {
			width: 380px;
			display: block;
			margin: 0 auto;
			.slick-slider {
				.slick-prev,
				.slick-next {
					height: 36px;
					width: 36px;
					z-index: 4;
				}
				.slick-prev {
					left: -100px;
				}
				.slick-next {
					right: -100px;
				}
			}
			.album-thumbnail {
				margin: 30.5px 16px !important;
			}
		}
		span.prev,
		span.next {
			position: absolute;
			top: calc(50% - 16px);
		}
		span.prev {
			left: 0;
		}
		span.next {
			right: 0;
		}
	}
	.bottom-modal {
		border-radius: 0 !important;
		.share-feedback,
		.suggested-edits {
			height: 100vh;
			.m-body {
				height: calc(100% - 125px) !important;
			}
		}
	}
	.thumbnails-actionbar-wrapper {
		a {
			position: relative;
		}
		a:first-child {
			svg {
				position: absolute;
				right: 0;
				margin: 0;
			}
		}
		a:nth-child(3) {
			svg {
				position: absolute;
				left: 0;
				margin: 0;
			}
		}
	}
	.bottom-modal {
		.m-body {
			.image-wrapper {
				.slick-slider {
					width: 80%;
					display: block;
					margin: 0 auto;
					.slick-prev {
						left: 20px;
						height: 32px;
						width: 32px;
						z-index: 4;
					}
					.slick-next {
						right: 20px;
						height: 32px;
						width: 32px;
						z-index: 4;
					}
				}
			}
		}
		.version-info-wrapper {
			width: 80%;
			display: block;
			margin: 0 auto;
		}
	}
	.info-dynamic-wrapper {
		h1.title {
			font-size: 36px !important;
		}

		h2.title {
			font-size: 24px !important;
		}
	}
}
.project-album-hp-loader {
	position: relative;
	height: 100%;
}
