@import '../scss//variables.scss';
@mixin font-24p-500 {
	font-size: 24px;
	font-weight: 500;
}
@mixin font-13p-500 {
	font-size: 13px;
	font-weight: 500;
}
@mixin font-13p-600 {
	font-size: 13px;
	font-weight: 600;
}
@mixin font-10p-500 {
	font-size: 10px;
	font-weight: 500;
}
@mixin font-12p-500 {
	font-size: 12px;
	font-weight: 500;
}
@mixin font-14p-600 {
	font-size: 14px;
	font-weight: 600;
}
@mixin font-16p-600 {
	font-size: 16px;
	font-weight: 600;
}
@mixin font-11p-600 {
	font-size: 11px;
	font-weight: 600;
}
@mixin font-9p-600 {
	font-size: 9px;
	font-weight: 600;
}
@mixin font-8p-600 {
	font-size: 9px;
	font-weight: 600;
}
