@import '../scss//variables.scss';
@import '../scss//mixins.scss';
.rightModal {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;

	z-index: 10000;

	.modal-body {
		height: 100%;
		overflow-y: auto !important;
		width: 80vw;
		position: absolute;

		top: 0px;
		right: 0px;
		transition: transform 0.3s ease-in-out;
		.m-body {
			height: 100%;
		}
		.m-close {
			position: absolute;
			right: 0;
			top: 0;
			width: 36px;
			height: 36px;
			border-bottom-left-radius: 15px;
			background: $whitecolor;
			cursor: pointer;
			z-index: 1;
			svg {
				display: block;
				margin: 0 auto;
			}
		}
	}
}
#sliding-right-hide {
	transform: translate3d(100vw, 0, 0);
}
#sliding-right-show {
	transform: translate3d(0vw, 0, 0);
	overflow: hidden;
}

/**Bottom Modal**/
.bottomModal {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	bottom: 0;
	left: 0;

	z-index: 10000;

	.modal-body {
		height: fit-content;
		overflow-y: hidden;
		width: 100%;
		position: absolute;
		display: table;
		bottom: 0px;
		right: 0px;

		transition: transform 0.3s ease-in-out;
	}
}

#sliding-bottom-show {
	transform: translate3d(0, 0vh, 0);
}
#sliding-bottom-hide {
	transform: translate3d(0, 100vh, 0);
}

/**Center Modal**/
.centerModal {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	bottom: 0;
	left: 0;

	z-index: 10000;

	.modal-body {
		height: 240px;
		overflow-y: hidden;
		width: 100%;
		position: absolute;

		bottom: calc(50% - 120px);
		right: 0px;

		transition: transform 0.3s ease-in-out;
	}
}

#sliding-center-show {
	transform: scale(1);
}
#sliding-center-hide {
	transform: scale(0);
}
.centerModal {
	.modal-body {
		.m-body {
			background: none;
			.delete-modal {
				width: 80% !important;
				display: block;
				margin: 0 auto;
				float: none;
				background: $modalbg;
				border-radius: 10px;
				.c-body {
					.c-wrap {
						.c-text {
							padding: 0px 10px;
							line-height: 1.6;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.rightModal {
		.modal-body {
			width: 360px;
		}
	}
	.centerModal {
		.modal-body {
			.m-body {
				background: none;
				.delete-modal {
					width: 360px !important;
					display: block;
					margin: 0 auto;
					float: none;
					background: $modalbg;
					border-radius: 10px;
				}
			}
		}
	}
}
